.loginContainer {
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 40%;
  width: 450px;
  height: 600px;
  max-height: 70%;
  transform: translate(-50%, -50%);
  display: inline-flex;
}

.signUpBtn {
  width: fit-content;
}

.login-banner img {
  max-width: 100%;
  height: auto;
  display: flex;
  background-position: center;
}
